*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Plus Jakarta Sans', sans-serif;
    background:#F8F2E4;
    color:#49301E;
}



/* MAIN */
.container{
    padding:30px 5%;
}

.header h1{
    font-size:26px;
}

.header p{
    color:#666;
    margin-top:5px;
}

/* STATS */
.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-top:20px;
}

.card{
    padding:20px;
    border-radius:10px;
    color:white;
}

.card i{
    font-size:20px;
}

.card h2{
    font-size:28px;
    margin-top:10px;
}

.brown{background:#5a3822;}
.green{background:#2C362B;}
.beige{background:#d6cbb6;color:#49301E;}

/* CHART */
.chart-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-top:25px;
}

.chart-box{
    background:white;
    padding:20px;
    border-radius:10px;
    height:250px;
}

/* ACTIONS */
.quick-actions{
    margin-top:25px;
}

.action-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-top:10px;
}

.action-item{
    border:1px solid #49301E;
    padding:20px;
    text-align:center;
    border-radius:8px;
    cursor:pointer;
}

.action-item:hover{
    background:#49301E;
    color:white;
}


